::selection {
  background-color: #f0932b;
  color: white;
}


.animated {
  position: absolute;
  right: 0;
  top: 0;
  width: 5vw;
  height: 5vw;
  animation: Start infinite 10s ;
  filter: opacity(20%);
  z-index: 1;

}
.animated2 {
  position: absolute;
  width: 20vw;
  height: 20vw;
  z-index: -1;
  left: 40vw;
  filter: opacity(20%);
  top: 10vw;
  animation: infinite Wawe 10s alternate-reverse;
}

@keyframes Wawe {
  0%{
    width: 15vw;
    height: 15vw;
    left: 35vw;
  }
  20% {
    width: 20vw;
    height: 20vw;
    left: 40vw;
  }
  40% {
    width: 25vw;
    height: 25vw;
    right: 35vw;
  } 
  60% {
    width: 20vw;
    height: 20vw;
    right: 28vw;
    top: 6vw;
  }
  80% {
    width: 15vw;
    height: 15vw;
    right: 23vw;
    top: 7vw;
  }
  100% {
    width: 10vw;
    height: 10vw;
    right: 26vw;
    top: 5vw;
  }
}

@keyframes Start {
  0% {
    right: 0;
    top: 0;
  } 
  10% {
    right: 4vw;
    top: -2vw;
  }
  20% {
    right: 6vw;
    top: 2vw;
  }
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}
.dark {
  background-color: black;
}

.top {
  width: 100%;
  height: 20vw;
}
.sidebarContent {
  color: white;
  text-align: center;
  font-size: 2vw;
  margin: 0;
  height: fit-content;
}
.sidebarBTN {
  width: 6vw;
  height: 6vw;
  background-color: transparent;
  border: none;
  outline: none;
  position: fixed;
  z-index: 1;
  left: 3vw;
  top: 3vw;
  filter: invert(20%);
}
.sidebarBTN img {
  width: 3vw;
  height: 3vw;
}







 h1 {
  margin: 0px;
  padding: 0px;
  font-size: 8vw;
  margin-top: 14vw;
  color: #707070;
  width: 100vw;
  text-align: center;
}

.top::after {
  clear: both;
  content: "  ";
  display: none;
}

.searchBar {
  width: 100%;
  height: 14vw;
  position: relative;
}

.searchBar .search {
  position: absolute;
  margin-top: 2vw;
  height: 6vw;
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}

.searchBar .search input {
  height: 6vw;
  font-size: 4vw;
  width: 100%;
  margin: 0px 0;
  border-radius: 10vw;
  padding: 1vw;
  border: none;
  background-color: rgb(252, 252, 252);
  text-decoration: none;
  -webkit-box-shadow: 0 0.2vw 0 0.2vw grey;
  box-shadow: 0 0.2vw 0 0.2vw grey;
  text-align: center;
  color: #f0932b !important;
  font-family: 'IBM Plex Sans', sans-serif;
  outline: none;
}

@keyframes slideFromLeft {
  from {
    margin-left: -15vw;
  }
  to {
    margin-left: calc(100% - 15vw);
  }
}

@keyframes slideFromRight {
  from {
    right: -100vw;
  }
  to {
    right: 0;
  }
}

.btn {
  position: absolute;
  right: 0px;
  margin-right: 0.5vw;
  width: 8vw;
  height: 5vw;
  margin-top: 0.3vw;
  border-radius: 10vw;
  background-color: #f0932b;
  border: none;
  color: #fff;
  font-size: 1.5vw;
  box-shadow: 0 0.2vw 0 0.2vw #f3b876;
  outline: none;
}
.btn:active {
  box-shadow: none;
  margin-top: 0.5vw;
}

.btn p {
  margin: 0px;
}

.cover {
  max-width: 100%;
}

::placeholder {
  color: #f0932b;
  opacity: 0.5;
}

#topbtn {
  visibility: hidden;
  position: fixed;
  right: 3vw;
  bottom: 3vw;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  background-image: url(Images/goTop.png);
  background-size: cover;
  background-repeat: no-repeat;
  border: none;
  outline: none;
}

#topbtn:hover {
  cursor: pointer;
  filter: grayscale(0.2);
}

#topbtn:active {
  filter: grayscale(0.6);
}



#topbtn.show {
  visibility: visible;
}

.result {
  color: white;
  text-align: center;
  font-size: 3vw;
  margin: 0px auto;
  margin-top: 15vw;
  width: fit-content;
  position: relative;

}

.result p {
  display: block;
  text-align: left;
  background-color:  rgba(240,147,43,0.5);
  border-radius: 10vw;
  line-height: 3vw;
  width: 100%;
  margin: 0px auto;
  padding-left: 1vw;
  margin-bottom: 3vw;
  float: left;
  font-weight: bolder;
  color: white;
}

.green {
  color: #3b8686;
  font-weight: bold;
}

.red {
  color: #a6172d;
  font-weight: bold;

}

.yellow {
  color: #0080ff;
  font-weight: bold;

}

.flags {
  width: 30%;
  height: 20vw;
  margin: 0px auto;
  float: left;
  position: relative;
  left: 10vw;
  top: 0vw;

}


.left {
  float: right;
  width: 36%;
  position: relative;
  right: 10vw;
  top: -4vw;
}
.darkMode {
  width: 100%;
  height: 6vw;
}

.globalSwitch {
  position: relative;
  display: inline-block;
  float: right;
  width: 15vw;
  height: 4vw;
}
.switcher {
  float: left;
  margin: 0px;
  color: #707070;
  font-size: 2vw;
  font-weight: bolder;
  margin-top: .5vw;
}
.switch {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch:checked + .slider {
  background-color: #f0932b;
}
.switch:focus + .slider {
  box-shadow: 0 0 0.25vw #f0932b;
}
.switch:checked +.slider::before {
  -webkit-transform: translateX(7vw);
  -ms-transform: translateX(7vw);
  transform: translateX(7vw);
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #050944;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 20vw;
  border: 1px white solid;
  z-index: 2;
}
.slider::before {
  position: absolute;
  content: "";
  height: 3vw;
  width:6vw;
  left: 1vw;
  bottom: 0.4vw;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 10vw;
}
.makeRight {
  margin: 0px auto;
  width: 30%;
  position: absolute;
  z-index: 1;
  right: 9%;
  top: 3%;
}
.navbarDATA {
  color: white;
  text-align: left;
  margin-left: 10%;
} 

.sidebarINFO {
  background-color:white;
  height: fit-content;
}
.grid-container {
  display: grid;
  grid-template-columns: 40% auto auto auto;
  background-color: transparent;
  padding: .5vw;
  color: #707070;
}
.grid-item:nth-child(-n+4) {
  color: #f0932b;
  font-size: 1.8vw;
  text-transform: uppercase;
}
.grid-item:nth-child(4n-3) {
  text-transform: uppercase;

}
.grid-item:nth-child(4n) {
  text-align: right;
}
.grid-item:nth-child(4n-1) {
  text-align: center;
}
.grid-item {
  padding: .2vw;
  font-size: 1.5vw;
  border-bottom: #707070 .2vw solid;
}
@media (max-width: 576px) {
   .sidebarINFO {
     height: fit-content;
   }
  .sidebarContent {
    text-align: center;
    font-size: 4vw;
  }
  .result {
    margin-top: 8vw;
  }
  
  .top {
    margin-top: 10vw;
  }
  .flags {
    float: none;
    position: relative;
    left: 0px;
    width: 70%;
    height: 45vw;

  }

  .left {
    float: none;
    margin: 0px auto;
    width: 100%;
    right: 0px;
    margin-top: 10vw;

  }

  .navbarDATA {
    color: white;
    font-size: 3vw;
  }

  .result p {
    width: 70%;
    margin: 0px auto;
    float: none;
    margin-top: 7vw;
    font-size: 5.5vw;
    line-height: 9vw;
    font-family: 'Arimo', sans-serif;
  }

  .searchBar .search {
    margin-top: 10vw;
    width: 80%;
    height: 30vw;
    margin-left: 10%;
    margin-right: 10%;
  }
  .topBtn {
    right: 5vw;
    bottom: 5vw;
    width: 6vw;
    height: 6vw;
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: transparent;
    padding: 1vw;
    color: #707070;
  }
  .grid-item:nth-child(-n+4) {
    color: #f0932b;
    font-size: 2.1vw;
  }
  .grid-item  {
    border-bottom: .2vw#707070 solid;
    padding: .2vw;
    font-size: 2vw;
  }
  
}

.hide {
  display: none;
}

.rule {
  width: 99%;
  height: 0.2vw;
  background-color: white;
  margin: 0px;
}

